<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
    <!-- your content -->
</div>

    <h2>Student Registration</h2>

    <form method="POST">

    <input type="text"
           name="name"
           class="form-control mb-3"
           placeholder="Full Name"
           required>

    <input type="email"
           name="email"
           class="form-control mb-3"
           placeholder="Email"
           required>

    <input type="password"
           name="password"
           class="form-control mb-3"
           placeholder="Password"
           required>

    <button class="btn btn-success w-100">
        Continue
    </button>

</form>

</body>
</html>
