<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
    <!-- your content -->
</div>

    <h2>Student Registration</h2>

    <form method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Interests (comma separated):</label><br>
        <input type="text" name="interests" placeholder="AI, Music, Sports" required><br><br>

        <button type="submit">Register</button>
    </form>

</body>
</html>
